<html>
  <head>
    <title></title>
    {% block styles %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/weather.css" />
    {% endblock styles %}
    {% block scripts %}
    {% endblock scripts %}
    {% block extrascripts %}
    {% endblock extrascripts %}
  </head>

  <body>
    {% block header %}
    <header>Weather Mashup</header>
    {% endblock header %}
    {% block content %}
    {% endblock %}
    {% block footer %}
    <footer>Created at RHoK</footer>
    {% endblock footer %}
  </body>
</html>

