{% extends "floods/base.html" %}

{% block content %}
<form class="form-stacked row">
  
  <div class="input span16">
      <input type="text" placeholder="dd/mm/yyyy">
      to
      <input type="text" placeholder="dd/mm/yyyy">
      
      <input type="submit" value="search" class=" btn primary disabled" />
      
  </div>

  <div id="mapc" class="span16">
    <div id="map"></div>
  </div>
  
</form>


{% endblock content %}


{% block scripts %}
<script type="text/javascript">
    var map = new OpenLayers.Map('map', {
	  controls : [
      new OpenLayers.Control.LayerSwitcher(),
      new OpenLayers.Control.PanZoomBar(),
      new OpenLayers.Control.ZoomToMaxExtent(),
      new OpenLayers.Control.ScaleLine(),
      new OpenLayers.Control.ArgParser(),
      new OpenLayers.Control.Attribution(),
      new OpenLayers.Control.Permalink(),
			new OpenLayers.Control.Navigation(),
    ]
  });
	  
  var proj = new OpenLayers.Projection("EPSG:4326");
  var gphy = new OpenLayers.Layer.Google(
    "Google Physical",
    {type: google.maps.MapTypeId.TERRAIN}
  );
  var ghyb = new OpenLayers.Layer.Google(
    "Google Hybrid",
    {type: google.maps.MapTypeId.HYBRID}
  );
  var gsat = new OpenLayers.Layer.Google(
    "Google Satellite",
    {type: google.maps.MapTypeId.SATELLITE}
  );
  var grid = new OpenLayers.Layer.Vector(
		"Data Region"
  );

	map.addLayers([gphy, gsat, ghyb, grid]);
	var lonlat = new OpenLayers.LonLat(-138026.1791359, 6754611.1150493);
  map.setCenter(lonlat, 5);
	  
</script>
{% endblock scripts %}
