{% extends "floods/base.html" %}

{% block headscripts %}

{{ block.super }}

<script src="http://www.google.com/jsapi" type="text/javascript"></script>
<script type="text/javascript" src="http://www.google.com/uds/?file=visualization&amp;v=1&amp;packages=corechart"></script>
<script type="text/javascript" src="http://www.google.com/uds/api/visualization/1.0/92cbb0f92b037d8f5681d4066f62a719/format+en,default,corechart.I.js"></script>

<script charset="UTF-8" type="text/javascript">
  function draw20crVis(lat, lng, yr0, yr1) {
      var queryText = "lat="+lat+"&lng="+lng+"&mo0=1&yr0="+yr0+"&mo1=12&yr1="+yr1+"&q=prate_mon_mean";
      var queryUri = "http://saunby.net/cgi-bin/py/gviz20cr.py?" + queryText;
      var query =  new google.visualization.Query(queryUri);
      vis2Title = queryUri;
      document.getElementById('visualization').innerHTML = queryUri;
      query.send(handleQueryResponse20cr);
  }

  function handleQueryResponse20cr(response) {
      if (response.isError()) {
        alert('Error in query: ' + response.getMessage() + ' ' + response.getDetailedMessage());
        return;
      }
      visualization = new google.visualization.LineChart(document.getElementById('visualization'));
      visualization.draw(response.getDataTable(), {legend: 'bottom', title: vis2Title});
  }
</script>
{% endblock headscripts %}

{% block content %}
<h1>Data results for {{locationName}}</h1>

<div class="row">
  <div class="grid span12">
    <div class="row">
      <div class="span6">
        <h3>Map showing floods here</h3>
        <div id="mapc" class="grid">
          <div id="map"></div>
        </div>
      </div>
      <div class="span6">
        <h3>List of floods in this location</h3>
        <table>
          <tr>
            <th>#</th>
            <th>days</th>
            <th>deaths</th>
            <th>displaced</th>
          </tr>
          <tr>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
          </tr>
          <tr>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
          </tr>
          <tr>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
          </tr>
          <tr>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
          </tr>
          <tr>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
          </tr>
          <tr>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="span12">
        <h3>Graph of weather data at this location</h3>
        <div class="media-grid">
          <a href='#' style="width:100%; height:4em"><!-- hack to get some sort of style --></a>
        <div style="height: 250px; width: 900px; margin: 3px; border: 1px solid rgb(0, 0, 0); position: relative;" id="visualization"><iframe height="250" frameborder="0" width="900" scrolling="no" name="Drawing_Frame_26364" id="Drawing_Frame_26364" marginheight="0" marginwidth="0"></iframe></div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="span4">
    <h2>Options</h2>
    <form class="form-stacked">
      <label>
        <input type="checkbox"> Lorem ipsum dolor sit 
      </label>
      
      <label>
        <input type="checkbox"> consectetur adipisicing elit, 
      </label>
      
      <label>
        <input type="checkbox"> ullamco laboris nisi ut aliquip
      </label>
      
      <label>
        <input type="checkbox"> dolore eu fugiat nulla
      </label>
      
      <label>
        <input type="checkbox"> deserunt mollit anim id est 
      </label>
      
      <input style="margin-top:1em" type="submit" class="btn" value="&raquo;">
      
    </form>
  </div>
</div>
{% endblock content %}



{% block scripts %}
<script type="text/javascript">
    var map = new OpenLayers.Map('map', {
	  controls : [
      new OpenLayers.Control.LayerSwitcher(),
      new OpenLayers.Control.PanZoom(),
      new OpenLayers.Control.ScaleLine(),
      new OpenLayers.Control.ArgParser(),
      new OpenLayers.Control.Attribution(),
      new OpenLayers.Control.Permalink()
    ]
  });
	  
  var proj = new OpenLayers.Projection("EPSG:4326");
  var gphy = new OpenLayers.Layer.Google(
    "Google Physical",
    {type: google.maps.MapTypeId.TERRAIN, minZoomLevel: 5, maxZoomLevel: 15 }
  );
  var ghyb = new OpenLayers.Layer.Google(
    "Google Hybrid",
    {type: google.maps.MapTypeId.HYBRID, minZoomLevel: 5, maxZoomLevel: 19 }
  );
  var gsat = new OpenLayers.Layer.Google(
    "Google Satellite",
    {type: google.maps.MapTypeId.SATELLITE, minZoomLevel: 5, maxZoomLevel: 19 }
  );

		map.addLayers([gphy, gsat, ghyb]);
		var lonlat = new OpenLayers.LonLat(10.2, 48.9);
		lonlat = lonlat.transform(proj, map.getProjectionObject());
	  map.setCenter(lonlat, 5);
	  
</script>
<script charset="UTF-8" type="text/javascript">
  draw20crVis(0, 0, 1985, 2005);
</script>
{% endblock scripts %}
