

#mapc{
  border: 1px solid #DDD;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  
  height:500px;
  margin-top:2em;
  padding:0;
  position:relative;
}
#mapc.grid{
  height:300px;
}

#grid_map{
  
}

input{
  height:auto;
}

.olControlGotoLocationControl{
	display: block;
	width: 20px;
	height: 20px;
	background: #000;
}
